@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@property --gradient-angle{
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

:root{
  --primary-color: #0e1212; 
  --secondary-color-1: #2596be; 
  --secondary-color-2: #f1f1f1;  
  --tertiary-color-1: #212529;
  --tertiary-color-2:#9D9C9C;
  --text-color: #FFFFFF;
  --accent-color-1: #16d1e2;
  --accent-color-2: #4f2d9f; 
  --accent-color-3: #a95ed4;
  --accent-color-4:#02C9DB; 
  --accent-color-5: rgba(0, 0, 255, 0.4);
  --button-color: #0d6efd;
  --color-1:#2A2A2A;
  --fs-xl:5rem;
  --fs-600:1.5rem;
  --fs-500:1.25rem;
  --fs-400:1rem;
}

#app {
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html, body {
  width:100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#16d1e2),
									   to( #2596be),
									   color-stop(.6, #2596be))
}

header{
  min-height: 120vh;
  background-color: var(--secondary-color-2);
}

main{
  padding: 0 10rem;
  background-color: var(--secondary-color-2);
}

section{
  padding: 1rem;
  min-height: 100vh;
  color: var(--primary-color);
  overflow: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#contact{
  padding-bottom: 0;
}

#skills{
  min-height:100vh;
}

.heading{
  color: var(--primary-color);
}

#landing{
  height: 110vh; 
}

#textbox p{
  font-size: 50px;
  font-weight: 600;
}

#textbox h1{
  font-size: 120px;
}

#contact{
  display: grid;
  grid-template-columns: 65% 35%;
}

#footer-style{
  height: 3rem;
  width: 100%;
  background-color: var(--primary-color);
  font-size: 16px;
  color: #FFFFFF;
}
#footer-style p{
  margin: 0!important;
}

@media (max-width: 768px) {
  #landing{
    height: 80vh;
  }
  main{
    padding: 0 2rem;
  }
  #skills{
   height: 150vh;
  }
  #contact{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

