
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto+Slab&family=Space+Grotesk&display=swap');

*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
  --primary-color: #0e1212; 
  --secondary-color-1: #2596be; 
  --secondary-color-2: #f1f1f1;  
  --tertiary-color-1: #212529;
  --tertiary-color-2:#9D9C9C;
  --text-color: #FFFFFF;
  --accent-color-1: #16d1e2;
  --accent-color-2: #4f2d9f; 
  --accent-color-3: #a95ed4;
  --accent-color-4:#ffae00; 
  --button-color-1: #0d6efd;
}

#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color-2);
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color-2);
  border-radius: 8px;
}


html, body {
  width:100%;
  height: 100%;
}

header{
  min-height: 100vh;
  background-color: var(--primary-color);
}
main{
  padding: 0!important;
}
section{
  font-family: 'Roboto Slab', serif;
  padding: 1rem;
  min-height: 100vh;
  color: var(--secondary-color-2);
  background-color: var(--primary-color);
  overflow: auto;
}

#landing{
  height: 110vh; 
}

#textbox p{
  font-size: 50px;
  font-weight: 600;
}

#textbox h1{
  font-size: 120px;
}

#footer-style{
  height: 3rem;
  width: 100%;
  background-color: var(--primary-color);
  font-size: 16px;
  color: #FFFFFF;
}
#footer-style p{
  margin: 0!important;
}

